.canvas-container {
    background-color: rgb(238, 238, 238);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.309);
    height: 100%;
    width: 87%;
}