.dashboard-container {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .attributes {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 90%;

        .title {
            margin: 8px 0;
        }

        .single-line, .new-single-line {
            display: grid;
            grid-template-columns: 1fr 4fr;
            align-items: center;
            gap: 10px;

            .number-input {
                width: 100%;
            }
        }

        .new-single-line {
            grid-template-columns: 1.4fr 4fr 1fr;

            .trash {
                color: red;
            }
        }
    }

    .back-to-last-button {
        width: 100%;
    }
}

.button-container {
    position: relative;
}

.inline-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cancel-button {
    background-color: #f71000;
    width: 100%;
    color: white;

    &:hover {
        border-color: black !important;
        color: white !important;
    }
}

.submit-button {
    width: 100%;
}

.define-title {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}