.optimize-container {
    background-color: #F7B42C;
    border-radius: 30px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;

    .optimize-title {
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }
}

.optimize-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        background-color: #50E2AD !important;
        margin: 0 0 0 15px;
    }
}

.ant-switch-checked {
    background-color: #50E2AD !important;
}

.ant-switch-inner-checked, .ant-switch-inner-unchecked {
    color: #215BA6 !important;
}

.anticon-down {
    display: none;
}

.down {
    transform: translateY(0%) rotate(90deg) skewY(30deg) scaleX(.866);
}

.grey {
    color: rgb(166, 166, 166);
    font-weight: 500;
    margin-top: 1px;
    margin-right: 5px;
    font-size: 1.1rem;
}

.criteria-delete {
    font-size: 0.8rem;
    margin: 0 2px 2px 7px;
    display: flex;
    align-items: center;

    &:hover {
        color: red;
    }
}