.optimize-container {
    background-color: #F7B42C;
    border-radius: 30px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;

    .optimize-title {
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;

        .settings-button {
            margin-left: 10px;
        }
    }
}

.optimize-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        background-color: #50E2AD !important;
        margin: 0 0 0 15px;
    }
}

.ant-switch-checked {
    background-color: #50E2AD !important;
}

.ant-switch-inner-checked, .ant-switch-inner-unchecked {
    color: #215BA6 !important;
}

.anticon-down {
    display: none;
}

.down {
    transform: translateY(0%) rotate(90deg) skewY(30deg) scaleX(.866);
}

.grey {
    color: rgb(166, 166, 166);
    font-weight: 500;
    margin-top: 1px;
    margin-right: 5px;
    font-size: 1.1rem;
}

.criteria-delete {
    font-size: 0.8rem;
    margin: 0 2px 2px 7px;
    display: flex;
    align-items: center;

    &:hover {
        color: red;
    }
}

.popup-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: scroll;
    max-height: 60vh;

    .optimization-type-row {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .optimization-type {
        display: flex;
        flex-direction: column;
        gap: 7px;

        .attributes {
            display: flex;
            flex-direction: column;

            .attribute {
                display: grid;
                grid-template-columns: 3.5fr 1fr 2fr 12fr 2fr;
                margin: 7px 0;
                border: 0.5px solid rgb(224, 224, 224);
                border-radius: 5px;
                padding: 10px 15px;
                gap: 10px;

                .trash-button {
                    color: red;
                }

                .label {
                    display: flex;
                    align-items: center;
                }

                .attribute-switch {
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                }

                .attribute-range {
                    padding: 0 0 0 2rem;
                }
            }
        }
    }
}

.bold {
    font-weight: 600;
}