.homepage-layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 253, 237);

    .palette-container {
        display: flex;
        flex-direction: column;
        height: 60px;
        padding: 8px;
    }

    .homepage-main {
        display: flex;
        flex-direction: row;
        gap: 20px;
        height: calc(100% - 200px);
    }

    .homepage-dashboard {
        width: 18%;
        height: calc(100% - 200px);
        float: left;
    }
}