.homepage-layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 253, 237);

    .palette-container {
        display: flex;
        flex-direction: column;
        height: 60px;
        padding: 8px;
    }

    .homepage-main {
        height: calc(100% - 170px);
    }
}